<div class="container">
    <div class="card payment-card">
        <div class="card-header">
            Payment
        </div>
        <div class="card-body">
            <form [formGroup]="paymentForm" (ngSubmit)="makePayment()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name">Name on card:</label>
                            <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="John Doe">
                            <span class="text-danger" *ngIf="paymentForm.controls.name.touched && paymentForm.controls.name.errors?.required">Name is required</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="cardNumber">Card Number:</label>
                            <input type="text" class="form-control" id="cardNumber" name="cardNumber" formControlName="cardNumber" appCardNumberMask placeholder="0000-0000-0000">
                            <span class="text-danger" *ngIf="paymentForm.controls.cardNumber.touched && paymentForm.controls.cardNumber.errors?.required">Card number is required</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="expiryDate">Expiry Date:</label>
                        <input type="month" class="form-control" id="expiryDate" name="expiryDate" formControlName="expiryDate" placeholder="mm/yyyy"> 
                        <span class="text-danger" *ngIf="paymentForm.controls.expiryDate.touched && paymentForm.controls.expiryDate.errors?.required">Expiry date is required</span>
                    </div>
                    <div class="col-md-6">
                        <label for="cvv">CVV:</label>
                        <input type="text" class="form-control" id="cvv" name="cvv" formControlName="cvv" placeholder="***">
                        <span class="text-danger" *ngIf="paymentForm.controls.cvv.touched && paymentForm.controls.cvv.errors?.required">CVV is required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="amount">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount" formControlName="amount" placeholder="1234">
                            <span class="text-danger" *ngIf="paymentForm.controls.amount.touched && paymentForm.controls.amount.errors?.required">Amount is required</span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-block" [disabled]="!paymentForm.valid">Payment</button>
            </form>
        </div>
    </div>
</div>